a:hover {
    text-decoration: none !important;
}

.fIcons {
    padding: 15px;
    transition: transform .35s;
    color: #3a3a3a;
}
.fenv:hover {
    color: red;
    transform: scale(1.6);
}

.fa-twitter:hover {
    color: rgb(47, 170, 241);
    transform: scale(1.6);
}

.fa-linkedin-in:hover {
    color: rgb(49, 57, 255);
    transform: scale(1.6);
}

.figt:hover {
    color: #17f702;
    transform: scale(1.6);
}


.color-nav {
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.nav-link {
    color: #3a3a3a !important;
    font-weight: 600 !important;
    font-family: 'Karla', sans-serif !important;
    border: 2px solid #3a3a3a;
    margin: 2px;
    padding: 15px !important;
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

.active-class {
    background-color: #3a3a3a;
    color: white !important;
}

.nav-link:hover {
    color: #3de014 !important;
}

.dropdown-menu {
    background-color: #d0ffde !important;
    border-radius: 15px !important;
    border: 2px !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);

}

.dropdown-item {
    background-color: #d0ffde !important;
    border-radius: 15px !important;
    color: #3a3a3a !important;
    font-weight: 500 !important;
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif !important;
}

.dropdown-item:hover {
    color: #3de014 !important;
}


.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none !important;
    box-shadow: none;
}

/***************************** Card ****************************/
.home-card-img-top {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    width: 200px;
    height: 105px;
}

.home-cards {
    border-radius: 15px !important;
    width: 250px !important;
    background-color: rgb(255, 249, 249) !important;
    border: 1px !important;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    transition: transform .35s;
    text-decoration: none !important;
    margin: 0 auto;
}

.home-cards:hover {
    transform: scale(1.1);
    z-index: 1;
    background-color: #d0ffde !important;
}

@media (max-width: 768px) {
    .pro-pic-div{
        padding: 25%;
    }

    .pro-pic {
        width: 250px;
    }

    .pro-pic:hover {
        transform: none !important;
    }

    .home-cards {
        width: 190px !important;
    }

    .name-text {
        width: 200px !important;
    }

    .feedback-text {
        width: 200px !important;
    }

    .h3Educ {
        font-size: 1.2rem;
    }

}

.card-title {
    font-weight: 600 !important;
    color: #3a3a3a!important;
}

.home-cards:hover .card-title {
    color: #3a3a3a !important;
}

.cert-cards {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    border-radius: 15px !important;
    border: 1px !important;
    box-sizing: border-box;
    width: 200px !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    transition: transform .35s;
    margin: 0 auto;
}

.cert-cards:hover {
    transform: scale(1.1);
    z-index: 1;
}

.cert-card-img-top {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    border-radius: 15px;
    height: 150px;
    width: 200px;
    object-fit: cover;
}

.name-text {
    width: 250px;
    display: block;
    border-radius: 15px;
    border: 1px solid #d0ffde;
    padding-left: 10px;
    margin: 2% auto;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
}
.name-text:focus {
    outline:none;
    border: 2px solid #7fffa5; 
}

.feedback-text {
    width: 250px;
    height: 100px;
    display: block;
    border-radius: 15px;
    border: 1px solid #d0ffde;
    padding-left: 10px;
    margin: 2% auto;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.15);
}
.feedback-text:focus {
    outline:none;
    border: 2px solid #7fffa5; 
}

.pro-pic-div {
    padding: 5% 5% 8% 5%;
    text-align: center;
}



.pro-pic {
    width: 200px;
    border-radius: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    transition: transform 1.5s;
    border: 1px solid #7fffa549;
}

.pro-pic:hover {
    transform: scale(1.4);
}

.h3Educ {
    font-size: 1.8rem;
    padding: 2%;
} 

/*************************
Social Buttons ************************************************/
    svg {
        height: 24px;
        width: 24px;
    }
  .social-share-btn {
    display: block;
    margin-right: 10px;
    text-align: center;
    padding: 2px;
    position: fixed;
    left: 5px;
  }
  .share-btn {
    color: #3a3a3a;
    padding: 3px;
  }
  .share-btn:hover {
      color: #17f702;
      cursor: pointer;
  }

  .share {
      top: 40%;
  }
  .twit {
      top: 45%;
  }
  .face {
      top: 50%;
  }
  .linked {
      top: 55%;
  }
  .whats {
      top: 60%;
  }

  .social-share-btn__share-button {
    cursor: pointer;
  }
  
  .social-share-btn__share-button:hover:not(:active) {
    opacity: 0.75;
  }
  .social-share-btn__share-button:focus {outline: none;}

  
  


/****************************Updates*************************/

.prom-div {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.jmu-a {
    text-decoration: none;
    color: #3a3a3a;
}

.jmu-a:hover {
    text-decoration: none;
    color: #3de014;
}

.div-cards {
    padding: 10%;
}

.card-style {
    padding: 6%;
    text-align: center;
}

.bio-div {
    padding: 10% 10%;
    text-align: left;
    line-height: 3rem;
    color: #3a3a3a;
    box-shadow: 0 5px 10px rgba(0,0,0,0.6);
    border-radius: 15px;
    height: 400px;
    overflow: auto;
}
.bio-div::-webkit-scrollbar {
    width: 13px;
}

.bio-div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); 
    height: 30px;
}


.bio-p {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500 !important;
}

@media (max-width: 768px) {
    .bio-p {
       font-size: 0.75rem !important;
  } 
}
    

.header-div {
    text-align: center;
    padding: 10% 10% 5% 10%;
    color: #3a3a3a !important;
}

.h1-style {
    font-size: 6rem !important;
    letter-spacing: 2px;
    font-weight: 550 !important;
    font-family: 'Karla', sans-serif;
}

@media (max-width: 768px) {
    .h1-style {
        font-size: 3rem !important;
    }
}


.intro-div {
    text-align: center;
    padding: 5% 15%;
    line-height: 3rem;
    color:#3a3a3a;
}

@media (max-width: 768px) {
    .intro-div {
       padding: 5% 0; 
    }
}


.intro-p {
    font-size: 1.2rem !important;
    letter-spacing: 1px;
    font-weight: 550 !important;
}

@media (max-width: 768px) {
    .intro-p {
        font-size: 0.75rem !important;
    }
}

.h3-educ {
    font-size: 2.2rem;
    color: #3a3a3a;
}

@media (max-width: 768px) {
    .h3-educ {
       font-size: 1.2rem; 
    }
}


.email-btn {
    background:linear-gradient(to bottom, #5bc976 5%, #50da3b 100%);
    background-color:#5bc976;
    border-radius:15px;
    display:inline-block;
    cursor:pointer;
    color: #3a3a3a;
    font-size:17px;
    padding: 8px 22px;
    text-decoration:none;
    margin-left: 2%;
}

.email-btn:hover {
background:linear-gradient(to bottom, #50da3b 5%, #5bc976 100%);
background-color:#50da3b;
color: #3a3a3a;
}

.email-btn:focus {
    outline:none;
    position:relative;
    top:1px;
}

.ct-div {
    margin-top: 5%;
    padding: 10% 10% 8% 5%;
    text-align: left;
    color: #3a3a3a;
    border-radius: 15px;
    border: 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.ct-p {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 2% 2% 4% 0%;
    overflow: auto;
}

.ct-p::-webkit-scrollbar {
    width: 3px !important;
}

.ct-p::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); 
    height: 10px;
}

@media (max-width: 768px) {
    .ct-p {
       font-size: 0.6rem; 
    }
  }
    
.email-prompt-div {
    margin-top: 2%;
    padding: 5% 5% 5% 2%;
    text-align: left;
    color: #3a3a3a;
    border-radius: 15px;
    border: 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.email-send {
    background:linear-gradient(to bottom, #5bc976 5%, #50da3b 100%);
    background-color:#5bc976;
    border-radius:15px;
    display:inline-block;
    cursor:pointer;
    color: #3a3a3a;
    font-size:17px;
    padding: 8px 22px;
    text-decoration:none;
    float: right;
    margin-right: 2%;
}
.email-send:hover {
    background:linear-gradient(to bottom, #50da3b 5%, #5bc976 100%);
    background-color:#50da3b;
    color: #3a3a3a;
}

.email-send:focus {
    outline:none;
    position:relative;
    top:1px;
}

.bio-btn-div {
    padding: 3%;
    text-align: center;
}

@media (max-width: 768px) {
    .bio-btn-div {
       padding: 6%; 
    }
}

.ed-div {
    padding: 5% 10% 8% 10%;
    text-align: center;
    color: #3a3a3a !important;
}

.ed-table {
    margin: 0 auto;
}

.span-major {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .span-major {
        font-size: 0.75rem !important;
    }
}

.proj-title {
    font-weight: 800 !important;
    font-size: 1.3rem;
}

.footer {
    margin-top: 0;
    padding: 3% 3% 1% 3%;
    text-align: center;
}

@media (max-width: 768px) {
    .footer {
       padding-top: 6%; 
    }
}

.crfoot {
    padding: 1%;
    font-size: 0.6rem;
}




    
    



