a:hover {
    text-decoration: none !important;
    opacity: 0.8;
}

.fIcons {
    padding: 15px;
    transition: transform .35s;
    color: #34626c;
    cursor: pointer;
}
.fenv:hover {
    color: red;
    opacity: 0.8;
}

.fa-twitter:hover {
    color: rgb(47, 170, 241);
    opacity: 0.8;
}

.fa-linkedin-in:hover {
    color: rgb(49, 57, 255);
    opacity: 0.8;
}

.figt:hover {
    color: #17f702;
    opacity: 0.8;
}


.color-nav {
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.nav-link {
    color: #34626c !important;
    font-weight: 600 !important;
    font-family: 'Karla', sans-serif !important;
    margin: 5px;
    padding: 15px !important;
}

.active-class {
    background-color: #c6b497;
}

.nav-link:hover {
    opacity: 0.8;
    background-color: #c6b497;
}


.dropdown-item {
    color: #34626c !important;
    font-weight: 500 !important;
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif !important;
}

.dropdown-item:hover {
    opacity: 0.8;
    background-color: #c6b497 !important;
}


.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none !important;
    box-shadow: none;
}

/***************************** Card ****************************/
.home-card-img-top {
    width: 200px;
    height: 105px;
}


@media (max-width: 768px) {
    .pro-pic-div{
        padding: 25%;
    }

    .pro-pic {
        width: 250px;
    }

    .pro-pic:hover {
        transform: none !important;
        opacity: 0.8;
    }

    .home-cards {
        width: 190px !important;
    }

    .name-text {
        width: 200px !important;
    }

    .feedback-text {
        width: 200px !important;
    }

    .h3Educ {
        font-size: 1.2rem;
    }

}

.card-title {
    font-weight: 600 !important;
    color: #34626c!important;
}

.home-cards:hover .card-title {
    color: #34626c !important;
    opacity: 0.8;
}

.cert-cards {
    border: 1px !important;
    box-sizing: border-box;
    width: 200px !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    transition: transform .35s;
    margin: 0 auto;
}

.cert-cards:hover {
    transform: scale(1.1);
    z-index: 1;
    opacity: 0.8;
}

.cert-card-img-top {
    height: 150px;
    width: 200px;
    object-fit: cover;
}

.name-text {
    width: 250px;
    display: block;
    border: 1px solid #d0ffde;
    padding-left: 10px;
    margin: 2% auto;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
}
.name-text:focus {
    outline:none;
    border: 2px solid #7fffa5; 
}

.feedback-text {
    width: 250px;
    height: 100px;
    display: block;
    border: 1px solid #d0ffde;
    padding-left: 10px;
    margin: 2% auto;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.15);
}
.feedback-text:focus {
    outline:none;
    border: 2px solid #7fffa5; 
}

.pro-pic-div {
    padding: 5% 5% 8% 5%;
    text-align: center;
}



.pro-pic {
    width: 200px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    transition: transform 1.5s;
    border: 1px solid #7fffa549;
}

.pro-pic:hover {
    transform: scale(1.4);
    opacity: 0.8;
}

.h3Educ {
    font-size: 1.8rem;
    padding: 2%;
} 

/*************************
Social Buttons ************************************************/
    svg {
        height: 24px;
        width: 24px;
    }
  .social-share-btn {
    display: block;
    margin-right: 10px;
    text-align: center;
    padding: 2px;
    position: fixed;
    left: 5px;
  }

  .share-btn {
    color: #34626c;
    padding: 3px;
  }
  .share-btn:hover {
      opacity: 0.8;
      cursor: pointer;
      opacity: 0.8;
  }

  .share {
      top: 40%;
  }
  .twit {
      top: 45%;
  }
  .face {
      top: 50%;
  }
  .linked {
      top: 55%;
  }
  .whats {
      top: 60%;
  }

  .social-share-btn__share-button {
    cursor: pointer;
  }
  
  .social-share-btn__share-button:hover:not(:active) {
    opacity: 0.8;
  }
  .social-share-btn__share-button:focus {outline: none;}

  
  


/****************************Updates*************************/

.prom-div {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
  
.jmu-a {
    text-decoration: none;
    color: #34626c;
}

.jmu-a:hover {
    text-decoration: none;
    opacity: 0.8;
}

.div-cards {
    padding: 10%;
}

.card-style {
    padding: 6%;
    text-align: center;
}

.bio-div {
    padding: 10%;
    text-align: left;
    line-height: 3rem;
    color: #34626c;
}


.bio-p {
    padding: 20px 0;
    font-size: 1.25rem;
    letter-spacing: 1px;
    font-weight: 300 !important;
}

@media (max-width: 768px) {
    .bio-p {
       font-size: 0.75rem !important;
  } 
}
    

.header-div {
    text-align: center;
    padding: 10% 10% 5% 10%;
    color: #34626c !important;
}

.h1-style {
    font-size: 6rem !important;
    letter-spacing: 2px;
    font-weight: 550 !important;
}

@media (max-width: 768px) {
    .h1-style {
        font-size: 3rem !important;
    }
}


.intro-div {
    text-align: center;
    padding: 5% 15%;
    line-height: 3rem;
    color:#34626c;
}

@media (max-width: 768px) {
    .intro-div {
       padding: 5% 0; 
    }
}


.intro-p {
    font-size: 1.5rem !important;
    letter-spacing: 1px;
    font-weight: 550 !important;
}

@media (max-width: 768px) {
    .intro-p {
        font-size: 0.75rem !important;
    }
}

.h3-educ {
    font-size: 2.2rem;
    color: #34626c;
}

@media (max-width: 768px) {
    .h3-educ {
       font-size: 1.2rem; 
    }
}


.email-btn {
    background-color:#c6b497;
    display:inline-block;
    cursor:pointer;
    color: #34626c;
    font-size:17px;
    padding: 8px 22px;
    text-decoration:none;
    margin-left: 2%;
}

.email-btn:hover {
    opacity: 0.8;
}

.email-btn:focus {
    outline:none;
    position:relative;
    top:1px;
}

.ct-div {
    margin-top: 5%;
    padding: 10% 10% 8% 5%;
    text-align: left;
    color: #34626c;
    border: 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.ct-p {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 2% 2% 4% 0%;
    overflow: auto;
}

.ct-p::-webkit-scrollbar {
    width: 3px !important;
}

.ct-p::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); 
    height: 10px;
}

@media (max-width: 768px) {
    .ct-p {
       font-size: 0.6rem; 
    }
  }
    
.email-prompt-div {
    margin-top: 2%;
    padding: 5% 5% 5% 2%;
    text-align: left;
    color: #34626c;
    border: 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.email-send {
    background-color:#c6b497 !important;
    display:inline-block;
    cursor: pointer;
    color: #34626c !important;
    font-size: 17px;
    padding: 8px 22px !important;
    text-decoration: none;
    float: right;
    margin-right: 2%;
    border-radius: 0 !important;
}

.email-send:hover {
    color: #34626c;
    opacity: 0.8;
}

.email-send:focus {
    outline:none;
    position:relative;
    top:1px;
}

.bio-btn-div {
    padding: 3%;
    text-align: center;
}

@media (max-width: 768px) {
    .bio-btn-div {
       padding: 6%; 
    }
}

.ed-div {
    padding: 5% 10% 8% 10%;
    text-align: center;
    color: #34626c !important;
}

.ed-table {
    margin: 0 auto;
}

.span-major {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .span-major {
        font-size: 0.75rem !important;
    }
}

.proj-title {
    font-weight: 900 !important;
    font-size: 1.3rem;
    text-decoration: underline;
}

.footer {
    margin-top: 0;
    padding: 3% 3% 1% 3%;
    text-align: center;
}

@media (max-width: 768px) {
    .footer {
       padding-top: 6%; 
    }
}

.crfoot {
    padding: 1%;
    font-size: 0.6rem;
}

.projects {
    padding: 20px 0;
}



    
    



