body {
  margin: 0;
  padding: 2% 10% 0% 10%;
  background-image: -webkit-linear-gradient(bottom, transparent -20%, #b0fdc7 100%, transparent 100%);

  
}
* {
  font-family: 'Nunito Sans', sans-serif;
}

/*
font-family: 'Baloo Tamma 2', cursive;
font-family: 'Roboto Slab', serif;
*/
